body{
    font-family: 'Roboto';
}
.navbar{
    background-color: rgb(9, 17, 29) !important;
}



.nav-item:hover{
    color: #C41933 !important;
}

.navbar-toggler{
    background-color: #C41933;
    border: none;
}

header {
    background-image: url(../images/photo-of-turned-on-laptop-computer-943096.jpg);
    background-size: cover;    
    object-fit: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
}

.btn{
    background-color: #C41933 !important;
    border: 0;
}

.servicos{
    background-color: #C41933 !important;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 20px;
}
.servicos img{
    height: 100px;
    width: auto;    
}

.bg-secondary{
    background-color: #F8F9FA !important;
    padding-top: 50px;
    padding-bottom: 25px;
}

.portfolio img{
    height: 100px;
    width: auto; 
}

.sobre{
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 20px;
}
.sobre img{
    height: 130px;
    width: auto;
    background-color: white;
}
.bg-dark{
    background-color:  rgb(9, 17, 29) !important;
}

.equipe img{
    height: 200px;
    width: auto;    
}
.equipe{
    background-color: #C41933 !important;    
}

#icons img{
    height: 20px;
    width: auto;
}