body{
    font-family: 'Roboto';
}
.navbar{
    background-color: rgb(9, 17, 29) !important;
}

.navbar-brand:hover {
    color: firebrick !important;
}

.nav-item:hover{
    color: firebrick !important;
}

.navbar-toggler{
    background-color: firebrick;
    border: none;
}

header {
    background-image: url(../images/header3.jpg);
    background-size: cover;    
    object-fit: cover;
    background-repeat: no-repeat;
}

.servicos{
    background-color: #C41933 !important;
    padding-top: 25px;
    padding-bottom: 25px;
}
.servicos img{
    height: 100px;
    width: auto;    
}

.bg-secondary{
    background-color: #F8F9FA !important;
    padding-top: 40px;
    padding-bottom: 25px;
}

.portifolio img{
    height: 100px;
    width: auto; 
}